# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CS-300-Linked-List/FileContentIndex/f37c33ad-f371-4d9e-bec5-48aaee164b0b.vsidx
/Linked_List/.vs/Linked_List/FileContentIndex/3029eebc-403a-49fc-82c0-a1da0f6ca0c0.vsidx
/Linked_List/.vs/Linked_List/v17/Preview
/Linked_List/.vs/Linked_List
